:root {
  --theme: #75cdd8;
  --theme-1: #daf7fb;
  --theme-2: #a4e4ed;
  --theme-3: #4eb0be;
  --theme-4: #2d8f9c;

  --theme-red: #f8849b;
  --theme-yellow: #ffe188;

  --text-light: #818181;
  --text-dark: #484848;
  --background-grey: #fafafa;
  --border: #e4e4e4;
  --green: #53a318;
  --red: #ff0000;
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-input-placeholder {
  /*font-weight: lighter;*/
}

/* ----------------------------------------------------------- */
/* Basic Setup */
/* ----------------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.container {
  width: 80%;
  max-width: 1032px;
  margin: 0 auto;
}

input[type='radio'],
input[type='radio']:focus {
  -webkit-appearance: none;
  outline: none;
}

input[type='radio']:after {
  width: 20px;
  height: 20px;
  border-radius: 15px;
  top: -14px;
  left: -2px;
  position: absolute;
  background-color: var(--border);
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type='radio']:checked:after {
  width: 20px;
  height: 20px;
  border-radius: 15px;
  top: -14px;
  left: -2px;
  position: absolute;
  background-color: var(--theme-4);
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type='radio']:checked + label {
  font-weight: 400;
  color: var(--text-dark);
}

/* ----------------------------------------------------------- */
/* Nav */
/* ----------------------------------------------------------- */

nav {
  height: 70px;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
}

nav ul li {
  display: inline-block;
  margin-left: 30px;
  font-size: 70%;
  font-weight: bold;
  line-height: 70px;
  vertical-align: center;
}

nav ul li a {
  color: var(--text-light);
}

.logo {
  height: 70px;
}

/* ----------------------------------------------------------- */
/* Header */
/* ----------------------------------------------------------- */

h1.page-title {
  margin-top: 40px;
  font-size: 240%;
  font-weight: 700;
  color: var(--theme);
}

h1.page-subtitle {
  margin-left: 5px;
  color: var(--text-dark);
}

/* ----------------------------------------------------------- */
/* Search Bar */
/* ----------------------------------------------------------- */
.search-bar {
  width: 100%;
  height: 70px;
  padding-top: 15px;

  margin-top: 45px;
  border: 1px solid var(--border);
  border-radius: 5px;
}

.form-group i {
  position: absolute;
  left: 25px;
  top: 6px;
  color: grey;
  z-index: 3;
}

.search-bar button {
  background-color: var(--theme);
  color: #fff;
  border: 0;
  height: 40px;
  width: 24%;
}

.search-bar input {
  height: 40px;
  display: inline-block;
  padding-left: 30px;
}

/* ----------------------------------------------------------- */
/* Content */
/* ----------------------------------------------------------- */

.section-header {
  border-bottom: 1px solid var(--border);
}

.section-title {
  display: inline-block;
  margin-top: 50px;
  font-size: 110%;
  font-weight: 700;
  color: var(--text-dark);
  padding-bottom: 10px;
}

.see-all {
  display: inline-block;
  float: right;
  margin-top: 55px;
  font-size: 75%;
  /*color: var(--text-light);*/
  color: var(--theme);
}

.see-all:hover {
  cursor: pointer;
}

.section-description {
  font-size: 90%;
  color: var(--text-dark);
  font-style: italic;
}


/* ----------------------------------------------------------- */
/* Activity Card */
/* ----------------------------------------------------------- */

.activity-card {
  margin-top: 50px;
  font-size: 75%;
}

.activity-card:hover {
  cursor: pointer;
}

.activity-card img {
  width: 100%;
  height: 250px;
}

.activity-card p {
  margin: 0;
}

.activity-title {
  color: var(--text-dark);
  font-weight: 400;
}

.activity-detail {
  margin-top: 10px;
  display: inline-block;
  width: 100%;
}

.activity-detail-text {
  display: inline-block;
  width: 60%;
}

.activity-detail-price {
  display: inline-block;
  width: 40%;
  position: absolute;
  float: right;
  text-align: right;
  bottom: 0px;
  padding-right: 15px;
}

.original-price {
  color: var(--red);
  text-decoration: line-through;
}

.discount-price {
  font-size: 150%;
  font-weight: 400;
  color: var(--green);
}

/* ----------------------------------------------------------- */
/* About Us Section */
/* ----------------------------------------------------------- */

.section-about {
  margin-top: 50px;
  padding: 50px 0;
  background-color: var(--background-grey);
  color: var(--text-dark);
}

.about-title,
.contact-title {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

.about-content {
  width: 70%;
  margin-left: 15%;
  text-align: center;
}

/* ----------------------------------------------------------- */
/* Cities */
/* ----------------------------------------------------------- */

.section-cities {
  margin-top: 50px;
  padding: 0;
}

.cities-showcase {
  list-style: none;
  width: 100%;
}

.cities-showcase li {
  display: block;
  float: left;
  width: 33.33%;
}

.city-name {
  color: #fff;
  position: absolute;
  display: inline-block;
  width: 94%;
  text-align: center;
  margin-top: 30%;

  font-size: 150%;
  font-weight: 700;
}

.city-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;
}

.city-photo img {
  opacity: 0.6;
  width: 100%;
  height: auto;
  -webkit-transform: scale(1.15);
      -ms-transform: scale(1.15);
          transform: scale(1.15);
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.city-photo img:hover {
  -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
          transform: scale(1.03);
  opacity: 1;
}

/* ----------------------------------------------------------- */
/* Contact */
/* ----------------------------------------------------------- */

.section-contact {
  margin-top: 50px;
}

#contact {
  padding: 10px 0 10px;
}

.contact-text {
  margin: 45px auto;
  width: 70%;
  margin-left: 15%;
  text-align: center;
}

.mail-message-area {
  width: 100%;
  padding: 0 15px;
}

.mail-message {
  width: 100%;
  background: rgba(255,255,255, 0.8) !important;
/*  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  transition: all 0.7s;*/
  margin:0 auto;
  border-radius: 5px;
}

/* Input Styles */

.form {
  width: 100%;
  padding: 15px;
  background: #f8f8f8;
  border: 1px solid rgba(0, 0, 0, 0.075);
  margin-bottom: 25px;
  color: var(--text-dark) !important;
  font-size: 70%;

/*  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;*/
}

.form:hover{
  border:1px solid var(--theme-3);
}

.form:focus{
  color: white;
  outline: none;
  border: 1px solid var(--theme-3);
}

.textarea {
  height: 206px;
  max-height: 206px;
  max-width: 100%;
}

/* Send Button Styles */

.form-btn {
  width:180px;
  display: block;
  height: auto;
  padding:15px;
  color:#fff;
  background: var(--theme);
  border:none;
  border-radius:3px;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin:auto;
  box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
}

.form-btn:hover{
  background: var(--theme-3);
  color: white;
  border:none;
}

.form-btn:active{
  opacity: 0.9;
}

input {
    position: relative;
    z-index: 9999;
}

/* ----------------------------------------------------------- */
/* Activity Page */
/* ----------------------------------------------------------- */

h5.page-subtitle {
  margin-left: 5px;
  margin-top: 40px;
}

.section-search-panel {
  margin: 50px auto;
  padding-top: 20px;
  color: var(--text-light);
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
}

.search-panel {
  margin-bottom: 20px;
}

.section-search-panel i {
  display: inline-block;
  width: 15px;
  text-align: center;
  color: var(--theme-red);
}

.section-search-panel form {
  display: inline-block;
  position: absolute;
  margin-left: 80px;
}

span.search-panel-cat {
  display: inline-block;
  width: 125px;
}

.section-search-panel label {
  margin: 0;
  margin-right: 10px;
}

.radio-inline {
  font-weight: 300;
}

/* ----------------------------------------------------------- */
/* Activity Page */
/* ----------------------------------------------------------- */

.activity-detail-img {
  width: 100%;
  height: 70vh;
}

.activity-detail-content.container,
.activity-detail-img.container {
  width: 85%;
  max-width: 2000px;
}

.activity-detail-img.container img {
  width: 100%;
  height: 100%;
}

.content-panel h3 {
  width: 100%;
  border-bottom: 1px solid var(--border);
  margin-bottom: 20px;
  color: var(--theme-4);
}

.content-panel h2 {
  text-transform: uppercase;
}

.content-panel p {
  font-size: 90%;
}

.content-panel img {
  width: 100%;
}

.content-panel strong {
  color: var(--theme-red);
}

.activity-detail-location p {
  color: var(--text-light);
  font-style: italic;
  font-size: 90%;
}

.activity-detail-location p:hover {
  cursor: pointer;
}

.activity-detail-other {
  font-size: 90%;
}

.activity-detail-icons {
  font-size: 200%;
  color: var(--text-light);

  width: 50%;
  display: flex;
  justify-content: space-between;
}

.activity-detail-icons i {
  transition: color 0.2s;

}

.activity-detail-icons i:hover {
  cursor: pointer;
}

.ion-android-favorite:hover {
  color: #d75a4a;
}

.ion-android-share-alt:hover {
  color: #42c0fb;
}

.ion-chatbubble-working:hover {
  color: #2dc100;
}

.book-panel {
  padding: 10px 30px;
  border: 1px solid var(--border);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #fff;
}

.book-panel div {
  margin: 40px auto;
  border-bottom: 1px solid var(--border);
}

.book-panel input,
.book-panel-mobile input {
  border: 0;
}

.book-panel p.selector,
.book-panel-mobile p.selector {
  display: flex;
  justify-content: space-between;
}

.book-panel i,
.book-panel-mobile i {
  color: var(--theme-red);
}

.book-panel i:hover {
  cursor: pointer;
}

.book-panel .price,
.book-panel-mobile .price {
  color: var(--green);
  font-size: 150%;
  font-weight: 400;
  display: inline-block;
  margin-left: 40px;
}

.book-panel .btn-book,
.book-panel-mobile .btn-book {
  background-color: var(--theme-red);
  color: #fff;

  display: inline-block;
  margin-top: 0;
  padding: 6px 12px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 5px;
}

.book-panel .btn-book {
  width: 100%;
}

.stuck {
  position:fixed;
  top:0;
  left: 63.8%;
  width: 27.65%;
}

.book-panel-mobile {
  display: none;
}

.book-panel-mobile-overlay {
  /*background-color: rgba(255,255,255,0.95);*/
  background-color: #fff;
  position: fixed;
  top: 5px;
  left: 2.5%;
  height: 95%;
  width: 95%;
  margin-bottom: 120px;
  border: 3px solid var(--text-light);
  border-radius: 15px;

  padding: 50px;
  font-size: 200%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  display: none;
}

.book-panel-mobile-overlay h4 {
  font-size: 100%;
}

.book-panel-mobile-overlay input {
  width: 100%;
}

.book-panel-mobile-overlay .ion-close-circled {
  position: absolute;
  top: 30px;
  right: 50px;
  color: var(--theme-4);
}

.book-panel-mobile .btn-book {
  position: fixed;
  height: 120px;
  font-size: 200%;
  width: 100%;
  bottom: 0;
  left: 0;
}


/* ----------------------------------------------------------- */
/* Footer */
/* ----------------------------------------------------------- */

.section-footer {
  margin-top: 100px;
  width: 100vw;
  height: 60px;
  padding-top: 20px;
  padding-left: 8%;
  padding-right: 8%;
  background-color: var(--theme-4);
  display: flex;
  justify-content: space-between;
  font-size: 65%;
  color: #fff;
  font-weight: lighter;
}

.section-footer img {
  height: 18px;
  margin-left: 25px;
}

.section-footer img:hover {
  cursor: pointer;
}
